    
.main {
    display: flex;

    .mainContainer {
        flex: 6;

        .split {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .roleContainer {
                //margin: 50px;
                padding: 30px;
                padding-top: 0;
                display: flex;
                flex-direction: column;
                //padding: 20px;
                //margin: 20px;
            // text-align: right;
                text-align: right;

                .buttons {
                    display: flex;
                    flex-direction: row; 
                    justify-content: space-evenly; 
                    

                }
              

                .checkboxWrapper {
                    display: flex;
                    flex-direction: column;
                    margin: 20px;
                    padding: 20px;
                    -webkit-box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.46); 
                    box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.46);
                    border-radius: 15px;
                }
                
    
            }
        
        } 
        .tableWrapper {
            display: flex;
            flex-direction: column;
        }
    }
}